<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BigOne</title>
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="eth main">
      <h4 id="eth-title">ETH/EOS/BNC套利</h4>
      <div class="coinprice eth-eos">
        <div class="title">
          <h4>ETH/EOS</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出ETH</p>
            <li v-for="key in eosBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入ETH</p>
            <li v-for="key in eosAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <!-- eos-bnc -->
      <div class="coinprice eos-bnc">
        <div class="title">
          <h4>EOS/BNC</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出EOS</p>
            <li v-for="key in eosBncBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入EOS</p>
            <li v-for="key in eosBncAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <!-- bnc-eth -->
      <div class="coinprice ">
        <div class="title">
          <h4>ETH/BNC</h4>
        </div>
        <div class="content">
          <ul class="bidsprice  bnc-eth">
            <p>卖出ETH</p>
            <li v-for="key in ethBncBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入ETH</p>
            <li v-for="key in ethBncAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <div class="coinprice ">
        <div class="title">
          <h4>套利结果</h4>
        </div>
        <div class="content">
          <ul>
            <li>卖出ETH</li>
            <li>卖出EOS</li>
            <li>买入ETH</li>
          </ul>
          <ul>
            <li>{{eosEthBidsPrice}}</li>
            <li>{{eosBncBidsPrice}}</li>
            <li>{{ethBncAsksPrice}}</li>
          </ul>
        </div>
        <div class="footer">
          <ul>
            <li>利润</li>
            <li>反向</li>
          </ul>
          <ul>
            <li v-bind:class="{ active: ethActive }">{{ ethNet }}</li>
            <li v-bind:class="{ active: ethAct }">{{ antiEthNet }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="big main">
      <h4 id="eth-title">BIG/EOS/BTC套利</h4>
      <div class="coinprice">
        <div class="title">
          <h4>BIG/EOS</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出BIG</p>
            <li v-for="key in bigEosBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入BIG</p>
            <li v-for="key in bigEosAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <!-- eos-bnc -->
      <div class="coinprice">
        <div class="title">
          <h4>EOS/BTC</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出EOS</p>
            <li v-for="key in eosBtcBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入EOS</p>
            <li v-for="key in eosBtcAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <!-- bnc-eth -->
      <div class="coinprice ">
        <div class="title">
          <h4>BIG/BTC</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出BIG</p>
            <li v-for="key in bigBtcBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入BIG</p>
            <li v-for="key in bigBtcAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <div class="coinprice ">
        <div class="title">
          <h4>套利结果</h4>
        </div>
        <div class="content">
          <ul>
            <li>卖出BIG</li>
            <li>卖出EOS</li>
            <li>买入BIG</li>
          </ul>
          <ul>
            <li>{{bigEosBidsPrice}}</li>
            <li>{{eosBtcBidsPrice}}</li>
            <li>{{bigBtcAsksPrice}}</li>
          </ul>
        </div>
        <div class="footer">
          <ul>
            <li>利润</li>
            <li>反向</li>
          </ul>
          <ul>
            <li v-bind:class="{ active: bigActive }">{{ bigNet }}</li>
            <li v-bind:class="{ active: bigAct }">{{ antiBigNet }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dew main">
      <h4 id="eth-title">DEW/EOS/BTC套利</h4>
      <div class="coinprice ">
        <div class="title">
          <h4>DEW/EOS</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出DEW</p>
            <li v-for="key in dewEosBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入DEW</p>
            <li v-for="key in dewEosAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <!-- eos-btc -->
      <div class="coinprice">
        <div class="title">
          <h4>EOS/BTC</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出EOS</p>
            <li v-for="key in eosBtcBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入EOS</p>
            <li v-for="key in eosBtcAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <!-- bnc-eth -->
      <div class="coinprice">
        <div class="title">
          <h4>DEW/BTC</h4>
        </div>
        <div class="content">
          <ul class="bidsprice">
            <p>卖出DEW</p>
            <li v-for="key in dewBtcBidsList">
              {{key.price}}
            </li>
          </ul>
          <ul class="asksprice">
            <p>买入DEW</p>
            <li v-for="key in dewBtcAsksList">
              {{key.price}}
            </li>
          </ul>
        </div>
      </div>
      <div class="coinprice ">
        <div class="title">
          <h4>套利结果</h4>
        </div>
        <div class="content">
          <ul>
            <li>卖出DEW</li>
            <li>卖出EOS</li>
            <li>买入DEW</li>
          </ul>
          <ul>
            <li>{{dewEosBidsPrice}}</li>
            <li>{{eosBtcBidsPrice}}</li>
            <li>{{dewBtcAsksPrice}}</li>
          </ul>
        </div>
        <div class="footer">
          <ul>
            <li>利润</li>
            <li>反向</li>
          </ul>
          <ul>
            <!-- <li v-bind:class="{ active: dewActive }" ref="display">{{ dewNet }}</li> -->
            <li v-bind:class="{ active: dewActive }" ref="display">{{ dewNet }}</li>
            <li v-bind:class="{ active: dewAct }" ref="display">{{ antiDewNet }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
</body>

</html>
